<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <%= render '/refinery/admin/head' %>
  <body class='login <%= I18n.locale %>'>
    <div id='tooltip_container'></div>
    <div id="login_container">
      <div id="flash_container">
        <%= render '/refinery/message' %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
