
<%= form_for resource, :as => resource_name,
                       :url => refinery.refinery_user_session_path,
                       html: { class: 'ui form' } do |f| %>

  <div class="ui segment attached top secondary">
    <h2><%= t('.hello_please_sign_in') %></h2>
  </div>

  <div class="ui attached segment">
    <div class='field session_username clearfix'>
      <%= f.label :login %>
      <%= f.text_field :login, :class => 'larger widest' %>
    </div>
    <div class='field session_password clearfix'>
      <%= f.label :password %>
      <%= f.password_field :password, :autocomplete => 'off', :class => 'larger widest' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class='inline field'>
        <div class="ui checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="ui two bottom attached large buttons">
    <%= submit_tag t('.sign_in'),
                       :id => "submit_button",
                       :name => nil,
                       :class => "ui button primary",
                       :tooltip => t('.sign_in') %>
    <%= link_to t('.forgot_password'), refinery.new_refinery_user_password_path, class: 'ui button' %>
  </div>
<% end -%>